@import "../../../../../../styles/index";

.Slideshow {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background-color: $background-color;
  overflow: hidden;
  z-index: 1;
  padding-top: $header-height;

  &-content {
    position: fixed;
    height: calc(100vh - #{$header-height});
    width: 100vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  &-back-button {
    position: absolute;
    top: 5%;
    right: 5%;
    background-image: url('/images/close.svg');
    background-repeat: no-repeat;
    height: 25px;
    width: 10px;
    border: none;
    outline: none;
  }

  .image {
    text-align: center;
    width: 100%;
    outline: none;

    img {
      width: 60%;
      height: auto;
      margin: 0 auto;
    }

    &-current {
      left: 22%;
    }

    &-prev {
      right: 71%;
      opacity: 0.2;
    }

    &-next {
      left: 90%;
      opacity: 0.2;
    }
  }
}

.slick-slider {
  margin-bottom: $whitespace-5;
}

.slick-dots {
  bottom: -50px;

  li,
  button {
    width: $whitespace-2;
    height: $whitespace-2;
    margin: $whitespace-1;
    background-color: #e0dfdf;
    display: inline-grid;
    border-radius: 50%;
  }

  li button:before {
    display: none;
  }

  .slick-active,
  button {
    background-color: $secondary-color;
  }
}

.Arrow {
  background-image: url("/images/arrow.svg");
  background-repeat: no-repeat;
  top: 100%;
  position: absolute;
  display: block;
  width: 20px;
  height: 20px;
  -webkit-transform: translate(0, -50%);
  -ms-transform: translate(0, -50%);
  transform: translate(0, -50%);
  cursor: pointer;
  outline: none;

  &-prev {
    transform: rotate(180deg);
    left: 5%;
  }

  &-next {
    right: 5%;
  }
}

.slick-arrow:before {
  display: none;
}
