@import '../../../../styles/index';

.DreamDinner {
  padding-top: $header-height;
  position: relative;
}

.DreamDinner-row {
  width: 1000px;

  .dinner-guest {
    display: inline;
    float: left;
    width: 50%;
    padding-bottom: $whitespace-4;
  }

  .dinner-guest-url {
    font-weight: 500;
  }
}