@import '../../../styles/index';

$border: 3px solid $primary-color;

.FibonacciSection {
  display: grid;
  width: 100%;
  min-height: 400px;
  height: calc(100vh - #{$header-height});
  grid-template-columns: 4fr 1fr 1fr 2fr;
  grid-template-rows: 4fr 1fr 1fr 2fr;
  grid-template-areas: 
  "mantra grindin grindin grindin"
  "mantra pinchMe dreamDinner sayWhat"
  "mantra pinchMe dreamDinner sayWhat"
  "mantra realNews realNews sayWhat"
}

.mantra {
  grid-area: mantra;
  border-right: $border;
  position: relative;

  .container {
    position: absolute;
    top: 33%;
    left: 15%;
    font-size: 5rem;
  }

  .description {
    margin-top: $whitespace-4;
    font-size: 1.5rem;
    line-height: 2rem;
    display: block;
    width: 60%;
  }
}

.grindin {
  grid-area: grindin;
  border-bottom: $border;
  position: relative;

  .container {
    position: absolute;
    top: 35%;
    left: 10%;
    font-size: 6vh;
    -webkit-transform: rotate(90deg);
    -moz-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    -o-transform: rotate(90deg);
    filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=1);
  }
}

.say-what {
  grid-area: sayWhat;
  border-left: $border;
  position: relative;

  .container {
    position: absolute;
    top: 45%;
    right: 15%;
    font-size: 2rem;
    -webkit-transform: rotate(180deg);
    -moz-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    -o-transform: rotate(180deg);
    filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=2);
  }
}

.real-news {
  grid-area: realNews;
  border-top: $border;
  position: relative;

  .container {
    position: absolute;
    font-size: 3vh;
    top: 35%;
    bottom: 35%;
    right: 15%;
    -webkit-transform: rotate(-90deg);
    -moz-transform: rotate(-90deg);
    -ms-transform: rotate(-90deg);
    -o-transform: rotate(-90deg);
    filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=3);
  }
}

.pinch-me {
  grid-area: pinchMe;
  border-right: $border;
  position: relative;

  .container {
    position: absolute;
    left: 30%;
    top: calc(50% - 2rem);
    font-size: 2rem;
    width: 46px;
  }
}

.dream-dinner {
  grid-area: dreamDinner;
  position: relative;

  .container {
    position: absolute;
    left: calc(50% - (46px/2));
    top: calc(50% - (0.8rem/2));
    font-size: 0.8rem;
    width: 46px;
    -webkit-transform: rotate(90deg);
    -moz-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    -o-transform: rotate(90deg);
    filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=1);
  }
}

.FibonacciComponent {

  .title {
    padding-bottom: $whitespace-1;
  }

  .border-bottom {
    display: flex;
    padding-top: $whitespace-1;
  }

  .dot {
    width: 5px;
    height: 5px;
    border-radius: 2.5px;
    background-color: $secondary-color;
    margin-right: 5px;
  }
  .line {
    height: 5px;
    background-color: $secondary-color;
    animation: 0.3s ease-out 0s 1 slideInFromLeft;
  }

  .line-mantra {
    width: 36%;
    max-width: 36%;
  }

  .line-grindin {
    width: 90%;
    max-width: 90%;
  }

  .line-say-what,
  .line-real-news,
  .line-pinch-me {
    width: 95%;
    max-width: 95%;
  }

  .line-dream-dinner {
    width: 75%;
    max-width: 75%;
  }
}

.FibonacciComponent:hover {
  background-color: $hover-background-color;
}

@media screen and (min-width: $max-width) {
  .FibonacciSection {
  
  .mantra {
    .container {
      font-size: 135px;
    }
    .description {
      font-size: 50px;
      line-height: 65px;
    }
  }

  .say-what {
    font-size: 50px;
  }

  .pinch-me {
    font-size: 40px;
  }
}
}