@import '../../styles/index';

.Words {
  display: block;
  padding-bottom: $whitespace-1;
  text-decoration: none;
  color: $primary-color;
  cursor: pointer
}

.Words-link {
  font-weight: 400;
  padding-bottom: 15px;
  display: block;
}