@import '../../styles/index';

.Words {
  display: block;
  padding-bottom: $whitespace-1;
  text-decoration: none;
  color: $primary-color;
  cursor: pointer
}

.Words-link {
  text-decoration: none;
  font-weight: 400;
}

.Words-link:hover,
.Words-link:focus {
  text-decoration: underline;
  text-decoration-color: $secondary-color;
}