@import '../../../styles/index';

$section-height: 1500px;
$min-section-height: 300px;
$timeline-width: 100vw;


.Timeline {
  height: $section-height;
  min-height: $min-section-height;
  width: $timeline-width;
  position: relative;

  .Timeline-line {
    position: absolute;
    top: 0;
    right: 50%;
    width: 3px;
    background-color: $primary-color;
    height: 85%;
  }

  .TimelineStep {
    text-align: left;
    width: 300px;
    position: absolute;

    .header {
      font-size: $title;
      margin-bottom: $whitespace-4;
      font-weight: 600;
    }

    .subheader {
      font-size: $subtitle;
      line-height: $whitespace-4;
    }

    .content {
      margin-top: $whitespace-4;
      font-size: text;
      font-weight: lighter;
      line-height: $whitespace-4;
    }
  }

  .position-0 {
    top: 35%;
    left: 15%;
  }

  .position-1 {
    top: 50%;
    left: 60%;
  }

  .position-2 {
    top: 65%;
    left: 25%;
  }

  .position-3 {
    top: 80%;
    left: 60%;
  }

  .Timeline-link {
    position: absolute;
    background-color: $primary-color;
    height: 3px;
  }


  .notch {
    height: 10px;
    width: 3px;
    background-color: #FA3C1A;
    position: absolute;
  }


  .Timeline-link-0 {
    top: 40%;
    right: 50%;
    width: 15%;

    .notch-0 {
      left: 25%;
      bottom: 0;
    }

    .notch-1 {
      left: 50%;
      bottom: 0;
    }

    .notch-2 {
      left: 75%;
      bottom: 0;
    }
  }

  .Timeline-link-1 {
    top: 55%;
    left: 50%;
    width: 5%;

    .notch-0 {
      left: 50%;
      bottom: 0;
    }
  }

  .Timeline-link-2 {
    top: 70%;
    right: 50%;
    width: 5%;

    .notch-0 {
      left: 50%;
      bottom: 0;
    }
  }

  .Timeline-link-3 {
    top: 85%;
    left: 49.8%;
    width: 2%;
  }
}