@import '../../../../styles/index';

$section-height: 1500px;
$min-section-height: 300px;
$timeline-width: 100vw;
$step-width: 260px;
$block-width: calc(#{$step-width} + #{$whitespace-3});
$line-width: 3px;

.Timeline {
  margin: 0 auto;
  padding-top: $header-height;
  display: flex;
  flex-direction: column;
  align-items: center;

  .timeline-block {
    box-sizing: border-box;
    width: 50%;
    display: flex;
    padding-top: $whitespace-20;
    position: relative;

    &::after {
      content: '';
      position: absolute;
      height: $line-width;
      width: $whitespace-20;
      background-color: $primary-color;
      top: calc(#{$whitespace-20} + 25%);
    }

    &.even {
      justify-content: flex-end;
      border-right: $line-width solid $primary-color;
      margin-right: calc(50% - #{$line-width});
      padding-right: $whitespace-24;

      &::after {
        right: 0;
      }
    }

    &.odd {
      justify-content: flex-start;
      border-left: $line-width solid $primary-color;
      margin-left: calc(50% - #{$line-width});
      padding-left: $whitespace-24;

      &::after {
        left: 0;
      }
    }

    &:last-child {
      padding-bottom: $whitespace-20;
    }
  }

  .TimelineStep {
    text-align: left;
    width: $step-width;
    font-size: $text;
    line-height: 1.5;

    .title {
      font-weight: 600;
    }

    .duration {
      font-weight: lighter;
    }

    .company {
      // color: $secondary-color;
    }
  }
}
