@import '../../styles/index';

.PageTitle {
  font-weight: 500;
  font-size: $title;
  padding: $whitespace-12 $whitespace-12 $whitespace-6;
  padding-left: 245px;
  line-height: 27px;
  width: 1030px;
}
