@import './colors';
@import './measurements';
@import './text';

$page-width: 1200px;

$logo-width: 100px;
$logo-height: 25px;

$logo-width-large: calc(#{$logo-width} * 3);
$logo-height-large: calc(#{$logo-height} * 3);
