@import './colors';
@import './measurements';
@import './text';
@import './font-family.scss';
@import './keyframes.scss';

$page-width: 1200px;
$max-width: 2000px;

$footer-height: $whitespace-18;

$logo-width: 80px;
$logo-height: 20px;

$logo-width-large: calc(#{$logo-width} * 3);
$logo-height-large: calc(#{$logo-height} * 3);

$header-content-height: 30px;
$header-padding: $whitespace-4;
$header-border-size: 3px;
$header-height: calc(#{$header-content-height} + (#{$header-padding} * 2) + #{$header-border-size});