@import '../../styles/index';

@keyframes spinning-circle {
  0% {
    stroke-dashoffset: 0;
    stroke-dasharray: 150.6 100.4;
  }
  50% {
    stroke-dasharray: 1 250;
  }
  100% {
    stroke-dashoffset: 502;
    stroke-dasharray: 150.6 100.4;
  }
}

.spinner {
  width: 80px;
  height: 80px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  .rect {
    height: 100;
    width: 100;
    stroke: none;
  }

  .circle {
    animation: 2s linear spinning-circle infinite;
    stroke: $primary-color;
    fill: none;
    stroke-width: 6;
    stroke-linecap: round;
  }
}
