@import '../../styles/index';

.Contact {
  padding-top: calc(#{$header-height} + #{$whitespace-2});
}

.Contact-paragraph {
  padding-bottom: $whitespace-4;
  display: block;
}

.Contact-link {
  font-weight: bold;
}
