@import '../../styles/index';

$section-height: calc(100vh - #{$header-height});
$min-section-height: 300px;

.Home {
  color: $primary-color;
  font-size: $subtitle;
}

.IntroSection {
  text-align: center;
  width: 400px;
  margin: 0 auto;
  padding-top: calc(#{$header-height} + #{$whitespace-2});
  height: $section-height;
  min-height: $min-section-height;
  display: flex;
  flex-direction: column;
  justify-content: center;

  h2 {
    padding-bottom: $whitespace-4;
    line-height: 35px;
  }

  img {
    width: 35px;
    height: 25px;
    padding-left: $whitespace-2;
  }
}

$teaserSectionWidth: 200px;

.TeaserSection {
  height: 200vh;
  min-height: $min-section-height;
  width: $teaserSectionWidth;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  text-align: center;

  .teaser-text { 
    -webkit-transform: rotate(-90deg);
    -moz-transform: rotate(-90deg);
    -ms-transform: rotate(-90deg);
    -o-transform: rotate(-90deg);
    filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=3);
    width: 140px;
    margin: 0 auto;
  }

  .teaser-line {
    width: 3px;
    background-color: $primary-color;
    margin-top: 100px;
    margin-left: calc((#{$teaserSectionWidth}/2) - 3px);
    height: 80%;
    min-height: 80px;
  }
}

.Timeline {
  height: 200vh;
  min-height: $min-section-height;
  width: $teaserSectionWidth;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  text-align: center;

  .Timeline-line {
    width: 3px;
    background-color: $primary-color;
    margin-left: calc((#{$teaserSectionWidth}/2) - 3px);
    height: 80%;
  }
}