@import "../../styles/index";

.RerouteButton {
  position: fixed;
  bottom: $whitespace-21;
  right: $whitespace-12;
  background-image: url("/images/back.png");
  background-repeat: round;
  width: $whitespace-11;
  height: $whitespace-3;
  border: none;
  cursor: pointer;
}

RerouteButton:focus {
  outline: 0;
}
