@import '../../styles/index';

.ContentLayout {
  padding: $whitespace-6 0;
  font-size: $text;
  display: flex;
  flex-direction: row;
}

.ContentLayout-highlight:hover,
.ContentLayout-highlight:focus {
  background-color: $hover-background-color;
}

.ContentLayout-content {
  display: block;
  padding-bottom: $whitespace-1;
  text-decoration: none;
}

.ContentLayout-row {
  font-size: $text;
  line-height: 22px;
  font-weight: lighter;
}

.ContentLayout-row-bottom-space {
  padding-bottom: $whitespace-2;
}