@import '../../styles/index';

$space-between-items: 100px;

.ProjectArchive {
  padding-top: calc(
    #{$header-height} + #{$whitespace-2} + #{$space-between-items}
  );
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: start;

  div {
    width: 50%;
    padding-bottom: $space-between-items;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 0 auto;
  }
}

.ProjectOverview {
  transition: ease-in-out 0.2s;

  img {
    width: 100%;
    height: auto;
  }

  .name-description {
    padding-top: $whitespace-4;
    text-transform: uppercase;
    display: block;
    font-size: $subtext;
    line-height: $text;

    .description {
      font-weight: $font-thin;
    }
  }

  .title {
    padding-top: $whitespace-2;
    display: block;
    font-size: $title;
    line-height: 1.3;
    font-weight: $font-bold;
  }

  &.hovered {
    color: $secondary-color;
    transform: rotate(2deg) !important;
  }

  &.non-hovered {
    opacity: 0.5;
  }

  &.rotate-project-0,
  &.rotate-project-7 {
    transform: rotate(-1deg);
  }

  &.rotate-project-1,
  &.rotate-project-6 {
    transform: rotate(-2deg);
  }

  &.rotate-project-2,
  &.rotate-project-4 {
    transform: rotate(-3deg);
  }

  &.rotate-project-3,
  &.rotate-project-5 {
    transform: rotate(3.5deg);
  }
}
