@import '../../styles/index';

.TopFive {
  padding-top: $header-height;
  height: 100%;
}

.TopFive-link {
  display: block;
  padding-bottom: $whitespace-1;
  text-decoration: none;
  color: $primary-color;
  cursor: pointer;
}
