@import '../../styles/index';

.Archive {
  padding-top: $header-height;
  height: 100%;
}

.centered-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding-top: 120px;
}
