@import "../../../../styles/index";

.PinchMe {
  padding-top: $header-height;
  position: relative;
}

.PinchMe-row-competition {
  display: block;
  font-weight: 500;
}

.PinchMe-row-award {
  font-weight: 300;
}
