@import "../../styles/index";

$footer-border-color: #c2c9de;

.Footer {
  background-color: $background-color;
  border-top: 2px solid $footer-border-color;

  display: flex;
  justify-content: space-between;
  align-items: center;

  font-size: $subtext;
  line-height: $text;
  font-weight: $font-thin;

  a, span {
    padding: 0 $whitespace-11;
    line-height: $footer-height;
  }
}