@import "./styles/index";

.App-content {
  min-width: $min-width;
  margin: 0 auto;
  max-width: $max-width;
  position: relative;
  // 2px for border
  min-height: calc(100vh - (#{$footer-height} + 2px));
}
