@import '../../../../styles/index';

.RealNews {
  padding-top: $header-height;
  position: relative;
}

.RealNews-row {
  span {
    display: block;
    font-weight: 300;
  }

  a {
    font-weight: 500;
  }
}